<h1>Lista de Cheques Generados</h1>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
	    	<tr>
	        	<th>#</th>
	            <th>CI</th>
	            <th>Beneficiario</th>
	            <th>Fecha de Emision</th>
				<th>Monto</th>
	     	</tr>
		</thead>
		<tbody>
			<% numeroCheque = 0 %>
			<% @cheques.each do |cheque| if cheque != nil %>
	        	<tr>
	            	<td><%= numeroCheque += 1 %></td>
	            	<td><%= cheque.ci %></td>
	            	<td><%= cheque.beneficiario %></td>
	            	<td><%= cheque.fecha_emision %></td>
	            	<td><%= cheque.monto %></td>
				</tr>
			<% end end %>
 		</tbody>
	</table>
</div>