<h1>Lista de Empleados</h1>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
	    	<tr>
	        	<th>#</th>
	            <th>CI</th>
	            <th>Nombre</th>
	            <th>Apellido</th>
	            <th>Fecha de Contrato</th>
	            <th>Tipo de Contrato</th>
	            <th>Tipo de Salario</th>
				<th>Salario</th>
	
		        <th></th>
		        <th>Opciones</th>
			    <th></th>
		
	     	</tr>
		</thead>
		<tbody>
			<% numeroEmpleado = 0 %>
			<% @empleados.each do |empleado| %>
	        	<tr>
	            	<td><%= numeroEmpleado += 1 %></td>
	            	<td><%= empleado.ci %></td>
	            	<td><%= empleado.nombre %></td>
	            	<td><%= empleado.apellido %></td>
	            	<td><%= empleado.fecha_inicio_contrato %></td>
	            	<td><%= empleado.clasificador_contrato.class.name %></td>
					<td><%= empleado.clasificador_salario.class.name %></td>
					<td><%= empleado.devolver_salario %></td>
					<td><a href = "/ver_empleado/<%= empleado.ci %>"> Ver </a></td>
	            	<td><a href = "/modificar_empleado/<%= empleado.ci %>"> Modificar </a></td>
	            	<td><a href = "/eliminar_empleado/<%= empleado.ci %>"> Eliminar </a></td>
				</tr>
			<% end %>
 		</tbody>
	</table>
</div>