<h1>Lista de Empleados</h1>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
		  <li class="divider"></li>
    <li><a href="/memoria">Memoria</a></li>
		  <li class="divider"></li>
    <li><a href="/archivosJson">Archivos</a></li>
  </ul>
</div>
<div class="text-right">
	<a href="/nuevo_empleado" class="btn btn-success text-right">Nuevo Empleado</a>
</div>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
	    	<tr>
	        	<th>#</th>
	            <th>CI</th>
	            <th>Nombre</th>
	            <th>Apellido</th>
	            <th>Tipo de Contrato</th>
	            <th>Tipo de Salario</th>
		        <th></th>
		        <th>Opciones</th>
			    <th></th>
				<th>Tarjetas de Tiempo</th>
		
	     	</tr>
		</thead>
		<tbody>
			<% numeroEmpleado = 0 %>
			<% @empleados.each do |empleado| %>
	        	<tr>
	            	<td><%= numeroEmpleado += 1 %></td>
	            	<td><%= empleado.ci %></td>
	            	<td><%= empleado.nombre %></td>
	            	<td><%= empleado.apellido %></td>
	            	<td><%= empleado.clasificador_contrato.class.name %></td>
					<td><%= empleado.clasificador_salario.class.name %></td>
					<td><a href = "/ver_empleado/<%= empleado.ci %>"  class="btn btn-primary"> Ver </a></td>
	            	<td><a href = "/modificar_empleado/<%= empleado.ci %>"  class="btn btn-primary"> Modificar</a></td>
	            	<td><a href = "/eliminar_empleado/<%= empleado.ci %>" class="btn btn-danger"> Eliminar </a></td>
	            	<td>
						<a style = "<%= 'display:none;' unless empleado.esSalarioPorHora? %>" 
						   href = "/agregar_tarjeta_tiempo/<%= empleado.ci %>"  class="btn btn-primary"> 
							Agregar 
						</a>
					</td>
				</tr>
			<% end %>
 		</tbody>
	</table>
</div>