<h1>Modificar empleado</h1>

<form class="form-horizontal" action="/modificar_empleados" method="post" name="modificado" onsubmit="return formulario()">
	<input type="hidden" name="_method" value="put" />
	<div class = "form-group">
		<label class="col-md-4 control-label" for="ci">CI:</label>
		<div class="col-md-4">
			<input name="ci" id="ci" type="number" value="<%= @empleado.ci %>" class="form-control input-md"/>
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" for="nombre">Nombre:</label>
		<div class="col-md-4">
			<input name="nombre" type="text" value="<%= @empleado.nombre %>" class="form-control input-md"/>
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" for="apellido">Apellido:</label>
		<div class="col-md-4">
			<input name="apellido" type="text" value="<%= @empleado.apellido %>" class="form-control input-md"/>
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" for="tipo_contrato" value="Tipo de Contrato">Tipo de Contrato:</label>
		<div class="col-md-4">
			<select name="tipo_contrato" class="form-control input-md">
				<option value = "quincenal" <%= 'selected' if @empleado.esContratoQuincenal? %> >Quincenal</option>
				<option value = "mensual" <%= 'selected' if @empleado.esContratoMensual? %> >Mensual</option>
				<option value = "trimestral" <%= 'selected' if @empleado.esContratoTrimestral? %> >Trimestral</option>
			</select>
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" for="tipo_salario">Tipo de Salario:</label>
		<div class="col-md-4">
			<select id="salario" onchange="cambiar()" name="tipo_salario" class="form-control input-md">
				<option value = "por_hora" <%= 'selected' if @empleado.esSalarioPorHora? %> >Por Hora</option>
				<option value = "fijo" <%= 'selected' if @empleado.esSalarioFijo? %> >Fijo</option>
			</select>
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" id="salario_monto">Salario</label>
		<div class="col-md-4">
			<input name="salario" type="number" value = "<%= @empleado.devolver_salario%>" class="form-control input-md"/> 
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" for="tiene_sindicato">Pertenece al Sindicato:</label>
		<div class="col-md-4">
			<select name="tiene_sindicato" class="form-control input-md">
				<option value = "true" <%= 'selected' if @empleado.tiene_sindicato %> >Si</option>
				<option value = "false" <%= 'selected' if !@empleado.tiene_sindicato %> >No</option>
			</select>
		</div>
	</div>
	<div class = "form-group">
		<label class="col-md-4 control-label" for="empleado_fecha_inicio_contrato">Fecha Inicio de Contrato:</label>
		<div class="col-md-4">
			<input name="fecha" type="date" value="<%= @empleado.fecha_inicio_contrato %>" class="form-control input-md"/>
		</div>
	</div>
	<div class = "form-group">
		<input type="submit" value="Modificar Empleado" class="btn btn-success" />
	</div>
	
</form> 

<script type="text/javascript">
	function cambiar(){
		var salario=document.getElementById("salario").value;
		document.getElementById("salario_monto").innerHTML="Salario "+salario;
	}
	
	function formulario() { 
		var inputVal = modificado.ci.value
    	if (inputVal == "") 
      	{
        	$("#ci").css({"-webkit-box-shadow":"0px 0px 6px 2px #f00"});
        	$("#ci").attr({"placeholder":"obligatorio"});
        	modificado.ci.focus();  
     		return false; 
   		}
	}
</script>