<h1>Modificar empleado</h1>
<form action="/empleados/<%= @empleado.ci %>" method="post" name="modificado" onsubmit="return formulario()">
  <input type="hidden" name="_method" value="put" /> 
  <label for="ci">Ci:</label>
  <input name="ci" id="ci" type="number" value="<%= @empleado.ci %>" />
  <br>
  <label for="nombre">Nombre:</label>
  <input name="nombre" type="text" value="<%= @empleado.nombre %>" />
  <br>
  <label for="apellido">Apellido:</label>
  <input name="apellido" type="text" value="<%= @empleado.apellido %>" />
  <br>
  <label for="tipo_contrato">Tipo de Contrato:</label>
  <select name="tipo_contrato" >
   <option value = "quincenal" <%= 'selected' if @empleado.esContratoQuincenal? %> >Quincenal</option>
   <option value = "mensual" <%= 'selected' if @empleado.esContratoMensual? %> >Mensual</option>
  </select>
  <br>
  <label for="tipo_salario">Tipo de Salario:</label>
  <select id="salario" onchange="cambiar()" name="tipo_salario" >
   <option value = "por_hora" <%= 'selected' if @empleado.esSalarioPorHora? %> >Por Hora</option>
   <option value = "fijo" <%= 'selected' if @empleado.esSalarioFijo? %> >Fijo</option>
  </select>
  <br>
  <label id="salario_monto">Salario</label>
  <input name="salario" type="number" value = "<%= @empleado.devolver_salario%>" /> 
  <br>
  <label for="empleado_fecha_inicio_contrato">Fecha Inicio de Contrato:</label>
  <input name="fecha_inicio_contrato" type="date" value="<%= @empleado.fecha_inicio_contrato %>" />
  <br>
  <br>
  <input type="submit" value="Modificar Empleado" />
</form>


<script type="text/javascript">
	function cambiar(){
		var salario=document.getElementById("salario").value;
		document.getElementById("salario_monto").innerHTML="Salario "+salario;
	}
	function formulario() { 
		var inputVal =  modificado.ci.value
    	if (inputVal   == "") 
      	{
        	$("#ci").css({"-webkit-box-shadow":"0px 0px 6px 2px #f00"});
        	$("#ci").attr({"placeholder":"obligatorio"});
        	modificado.ci.focus();  
     		return false; 
   		}
	}
</script>