<h1>Ver empleado</h1>
<br>
<p class="lead"> Ci:<%= @empleado.ci %></p>
<br>
<p class="lead">Nombre:<%= @empleado.nombre %></p>
<br>
<p class="lead">Apellido:<%= @empleado.apellido %></p>
<br>
<p class="lead">Tipo de Contrato:<%= @empleado.clasificador_contrato.class%></p>
<br>
<p class="lead">Tipo de Salario:<%= @empleado.clasificador_salario.class%></p>
<br>
<p class="lead">Sueldo:<%= @empleado.devolver_salario%></p>
<br>
<p class="lead">Fecha Inicio de Contrato:<%= @empleado.fecha_inicio_contrato %></p>