<h1>Ver empleado</h1>
<form class="form-horizontal" >
<br>
<div class = "form-group">
		<label class="col-md-6 control-label">CI:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.ci %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Nombre:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.nombre %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Apellido:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.apellido %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Tipo de Contrato:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.clasificador_contrato.class %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Tipo Salario:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.clasificador_salario.class %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Sueldo:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.devolver_salario %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Fecha Inicio de Contrato:</label>
		<div class="col-md-2">
			<p class="lead"><%= @empleado.fecha_inicio_contrato %></p>		
		</div>
	</div>
<div class = "form-group">
		<label class="col-md-6 control-label">Sindicato:</label>
		<div class="col-md-1">
			<p class="lead"><%= @empleado.tiene_sindicato %></p>		
		</div>
	</div>